html,
body {
    margin: 0;
    padding: 0;
    background-color: #282c34;
    height: 100%;
}

div {
    overflow: hidden;
    box-sizing: border-box;
}

.outer-grid {
    position: relative;
    float: left;
    width: 33.3%;
    padding-bottom: 33.3%;
    border: 4px solid #2c3e50;
    background-color: #34495e;
}

.outer-square {
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 90%;
    background-color: #34495e;
    margin: 5%;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}

.inner-grid {
    width: 33.3%;
    height: 33.3%;
    border: 1px solid white;
    display: table;
}

.inner-square {
    line-height: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.inner-square:hover {
    cursor: pointer;
    background-color: #282c34;
    transition: all 0.3s ease;
}

.grid-container {

    width: 40vw;
    height: 100%;
    margin: auto;
    padding-top: 20vh;



}